<div class="container">
  <h2>Users</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Details</th>
		<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td><a [title]="'User Id ' + (i + 1) + ' Details'" [routerLink]="['/users', i + 1]">users/{{i + 1}}</a></td>
	    <!--<td><a [title]="'User Id ' + (i + 1) + ' Delete'" [routerLink]="['/users/delete', i + 1]">users/{{i + 1}}</a></td>-->
		<td><button class="btn btn-info" (click)="deleteUser(i+1)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
